.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  display: flex;
  margin: 0;
  padding: 60px 80px 60px 80px;
  justify-content: space-between;
}

.footer__content {
  margin-bottom: 10px;
}

.footer__logo {
  width: 109px;
  height: 39px;
}

.footer__social-heading {
  padding-bottom: 20px;
  margin: auto 0;
  color: white;
  font-weight: bold;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px;
}

.footer__list-item {
  list-style-type: none;
}

.footer__social-link {
  text-decoration: none;
  color: #ffff;
  transition: color 0.3s ease-in-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  size: 16px;
  margin-right: 10px;
}

.footer__copyright {
  display: flex;
  margin-top: 100px;
  color: #ffff;
}
